<%= simple_form_for(resource, :as => resource_name,
                              :url => registration_path(resource_name),
                              :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :name %>
  <%= f.input :email, :as => :email %>
  <%= f.input :avatar, :as => :file %>
  <%= f.input :password, :as => :password, :hint => "(leave blank if you don't want to change it)" %>
  <%= f.input :password_confirmation, :as => :password %>
  <%= f.input :current_password, :as => :password, :hint => "(we need your current password to confirm your changes)" %>
  <div class="submit">
    <%= f.button :submit %>
  </div>
<% end %>

<div id="cancel_account">
  <h3>Cancel my account</h3>

  <p>
    Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
  </p>
</div>


