<%= simple_form_for @todo_list, :html => { :novalidate => true } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :private %>

  <div id="tasks">
    <h3>Tasks</h3>

    <%= f.fields_for :tasks, setup_task_fields(@todo_list) do |tasks_form| %>
      <%= render :partial => "task", :locals => { :f => tasks_form } %>
    <% end %>

    <div>
      <%= add_child_link "Add task", :tasks %>
      <%= new_child_fields_template(f, :tasks)%>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>