<%= form_for @todo_list do |f| %>
  <%= error_messages_for @todo_list %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.check_box :private %>
    <%= f.label :private %>
  </div>

  <div id="tasks">
    <h3>Tasks</h3>

    <%= f.fields_for :tasks, @todo_list.tasks do |tasks_form| %>
      <%= render :partial => "task", :locals => { :f => tasks_form } %>
    <% end %>

    <div>
      <%= add_child_link "Add task", :tasks %>
      <%= new_child_fields_template(f, :tasks)%>
    </div>
  </div>

  <%= f.submit %>
<% end %>