<div id="<%= dom_id(todo_list) %>" class="todo_list <%= visibility(todo_list) %>">
  <div class="header clearfix">
    <div class="avatar">
      <%= image_tag todo_list.user.avatar_url, :alt => current_user, :title => current_user %>
    </div>

    <div class="info">
      <h3 title="<%= todo_list.name %>">
        <%= truncate(todo_list.name, :length => 50) %>
      </h3>
      <div class="actions">
        <span class="timestamp">
          <%= time_ago_in_words(todo_list.created_at) %>
        </span>
        <%= render_action_links_for(todo_list) %>
      </div>
    </div>
  </div>

  <% unless todo_list.tasks.empty? %>
    <ul class="tasks">
      <% todo_list.tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<hr/>