<div id="user_nav">
  <% if user_signed_in? %>
    Welcome, <%= image_tag current_user.avatar.thumb.url %> <%= link_to current_user, edit_user_registration_path %>! Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>