<!DOCTYPE html>
<html>

<head>
  <%= title_tag %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="container">

    <%= flash_messages %>

    <div id="header" class="clearfix">
      <div id="app_name"><%= AppConfig.name %></div>
      <%= render :partial => "shared/user_nav" %>
    </div>

    <%= render :partial => "shared/menu" %>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer"><%= AppConfig.name %> &copy; 2011</div>

  </div>

</body>

</html>
